body{
    background: linear-gradient(120deg, #ff9966, #ff5e62);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.Terminal{
    width: 80%;
    border: 1px solid black;
    height: 80%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    animation: fadeIn 3s ease-in-out;
    


}
.header{
    display: flex;
    justify-content: space-between;
    
    padding: 10px;
    background-color: #333;
    color: white;
    
}

.buttons{
    
    gap: 20px;
    
    
}
.title{
    align-items: center;
}

.button{
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    margin: 05px;
}
.close{
    background-color: rgb(224, 51, 51);
}
.minimize{
    background-color: rgb(247, 247, 66);
}
.maximize{
    background-color: green;
}

.terminal-body {
    background-color: rgb(40, 36, 36);
    padding-left: 20px;
    padding-top: 2px;
    height: 92.8%;
    /* max-height: 70%; */
    /* overflow-y: auto; */
    white-space: pre-wrap; /* Allows breaking of long lines */
}

.line {
    margin: 0;
    line-height: 1.6;
    color: white;
}
.name{
    color: rgb(18, 227, 18);

}
.main{
    color: yellow;
}
.arrow{
    color: red;
}
.cursor{
    background: white;
    color: white;
    display: inline-block;
    
    animation: blink 1s step-start infinite ;
}
#help{
    background: none;
    border: none;
    outline: none;
    color: white;
    
 }


 @keyframes blink{
    50%{
        background-color: transparent;
    }
 }
 @keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        /* transform: translate3d(20px); */
    }
 }

